

<div class="row">

 <div class="col-12 text-center">
   <!--lien de l'image qui est dans le fichier assets-->
      <img src="assets/femme2.jpg"alt="">
  </div>
</div>



<div class="container, card-background">

  <div class="row mt-3" style= "margin-left:70px;">
    <!--creation de boucle pour l'apparition de chaque article avec un pagination de 5 articles par page-->

    <article class="col-6" *ngFor="let article of articles | paginate: { itemsPerPage: 5, currentPage: pageActuel }">

      <img [src]="article.url" alt="" class="img-fluid">

        <tr>
      <img class="col-4" class="img-fluid" src="assets/{{article.img}}" alt=""  style="width: 100%;">

          <h3 class="h6 col-4 text-center">{{article.titre}}</h3>

            <td class="col-4">{{article.contenu}}</td>

            <!--lien vers une page où seul l'article choisis apparaitra grâce à l'id-->
              <a [routerLink]="['/article', article._id]" class="btn btn-secondary">Voir plus</a>
        </tr>

    </article>
  </div>
    <!--pagination-->
    <pagination-controls (pageChange) = "pageActuel = $event"></pagination-controls>

</div>
