
<div class="row mt-3 justify-content-between">
  <div class="col-4">
      <app-menu-dashboard></app-menu-dashboard>
  </div>

  <div class="col-4">

    <div class="form-group">

      <label for="FormControlSelect1">Nombre d'article</label>

      <select class="form-control" id="FormControlSelect1"> <!--pour avoir un déroulement avec comme 1 préselectionné-->
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form group">
      <label>Balise SEO title, meta description</label>
      <div class="md-form">
        <textarea type="text" id="form8" class="md-textarea form-control" mdbInput> Produits locaux Algerien</textarea> <!--textarea : zone de texte-->
      </div>
    </div>
    <div class="form group">
      <label>Texte d'introduction</label>
      <div class="md-form">
        <textarea type="text" id="form8" class="md-textarea form-control" mdbInput> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam laudantium harum, eius fugiat earum ea odit saepe repudiandae et delectus hic? Nobis quod sequi illo rem incidunt veritatis ratione. </textarea>
      </div>
    </div>
    <div class="form group">
      <label>Titre de la page d'acceuil</label>
      <div class="md-form">
        <textarea type="text" id="form8" class="md-textarea form-control" mdbInput>À l'algerienne</textarea>
      </div>
    </div>
  </div>
</div>
