<!-- Card est une boîte bordée avec une bordure autour de son contenu. Il comprend des options pour les en-têtes, pieds de page, contenu, couleurs, etc.-->

<div class="card">

  <h2 class="card-header">Gestion</h2>

  <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <a routerLink="/admin/article/liste">Articles</a>
      </li>

      <li class="list-group-item">
        <a routerLink="/admin/users/listUser">Users</a>
      </li>

      <li class="list-group-item">
        <a routerLink="/admin/parametres">Parametres</a>
      </li>

  </ul>
</div>
