<div class="container">
  <h2 class="text-center my-3">Ajouter un utilisateur</h2>
  <div class="row">
      <div class="col-sm-12">
          <form #f="ngForm" (ngSubmit)="onSubmitUser(f)" (submit)="onFrmSubmit(f)" (reset)="onFrmReset(f)">
              <div class="form-group">
                  <label for="nom">Nom</label>
                  <input class="form-control" type="text" name="nom" id="nom" value="" placeholder="Nom" ngModel #nom="ngModel" required minlength="3" maxlength="30" (keyup)="onChange(f)" [ngClass]="{
                  erreur: error.nom}">
              </div>
              <div class="form-group">
                  <label for="prenom">Prénom</label>
                  <input class="form-control" type="text" name="prenom" id="prenom" value="" placeholder="prenom" ngModel #prenom="ngModel" required minlength="3" maxlength="30" (keyup)="onChange(f)" [ngClass]="{
                  erreur: error.prenom}">
              </div>
              <div class="form-group">
                  <label for="email">Adresse Email</label>
                  <input name="email" type="email" placeholder="email" class="form-control" id="email" ngModel #email="ngModel" required (keyup)="onChange(f)" [ngClass]="{erreur: error.email}">
              </div>
              <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input name="password" type="password" class="form-control" id="password" ngModel #password="ngModel" required>
              </div>
              <div class="form-group">
                  <label for="role">Role</label>
                  <select class="form-control" placeholder="role" id="role" name="role" ngModel #role="ngModel" required (keyup)="onChange(f)" [ngClass]="{
                  erreur: error.role}">
              <option>user</option>
              <option>admin</option>
              </select>
              </div>

              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="estActif" ngModel #estActif="ngModel" required (keyup)="onChange(f)" [ngClass]="{
                  erreur: error.estActif}">
                  <label class="form-check-label" for="defaultCheck1">
                Activer
              </label>
              </div>
              <button type="submit" class="btn btn-primary m-2">Ajouter</button>
              <button routerLink="/admin/users/listUser" type="reset" class="btn btn-danger m-2">Annuler</button>

          </form>
          <div *ngIf="erreur" class="alert alert-danger mt-5">
              <div *ngIf="!nom.valid && nom.errors.required">Champ Nom requis</div>
              <div *ngIf="!nom.valid && nom.errors.minlength">
                  Champ Nom doit avoir 3 caractères minimum
              </div>
              <div *ngIf="!nom.valid && nom.errors.maxlength">
                  Champ Nom doit avoir 30 caractères maximum
              </div>

              <div *ngIf="!prenom.valid && prenom.errors.required">
                  Champ Prenom requis
              </div>
              <div *ngIf="!prenom.valid && prenom.errors.minlength">
                  Le champ prenom doit avoir 3 caractères minimum
              </div>
              <div *ngIf="!prenom.valid && prenom.errors.maxlength">
                  Le champ prenom doit avoir 30 caractères maximum
              </div>
              <div *ngIf="!email.valid && email.errors.required">
                  Champ email requis
              </div>
              <div *ngIf="!password.valid && password.errors.required">
                  Champ password requis
              </div>
              <div *ngIf="!role.valid && role.errors.required">
                  Champ role requis
              </div>
          </div>
          <div *ngIf="success" class="alert alert-success mt-5">
              Ajout reussi!
          </div>
      </div>
  </div>
</div>
