
    <div class="container">
        <div class="card card-container">
            <!-- lien de l'avatar -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>

            <form class="form-signin">

                <span id="reauth-email" class="reauth-email"></span>

                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Connecter</button>
            </form>
            <a href="/formulaire" class="forgot-password"> <!--lien vers le formulaire-->
                Mot de passe oublié
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
